/* Général */
.apsolu-cursor-help {
    cursor: help;
}

/* Permet aux éléments des menus dropdown (type "actions") de ne pas être masqués par la barre latérale de droite. */
.apsolu-dropdown-menu.dropdown-menu {
    z-index: 9999;
}

.userinitials.size-40 {
    width: 40px;
    height: 40px;
}

.table .align-children-middle td,
.table .align-children-middle th {
    vertical-align: middle;
}

.apsolu-condensed-line {
    line-height: 1.1;
}

/* Attendance */
#apsolu-attendance-check-javascript-helper {
    background-color: #e9e9e9;
    border: .1em solid #9f9f9f;
    padding: .5em;
}

.apsolu-comments-details {
    float: right;
}

.apsolu-comments-summary {
    cursor: pointer;
}

.apsolu-comments-div {
    background-color: #ddd;
    padding: .5em;
}

.btn-apsolu-attendance-comment i.icon {
    width: unset;
    height: unset;
    font-size: unset;
    margin: unset;
}

/* Courses */
.apsolu-category-level1-div,
.apsolu-category-level1-h2,
.apsolu-category-level2-div,
.apsolu-category-level2-h2 {
    font-size: 1em;
    margin: 0;
    padding: 0 0 0 1em;
}

.apsolu-category-level2-div {
    padding: 0 0 0 2em;
}

.apsolu-category-level1-h2 {
    background-color: lightgray;
    border-bottom: .1em black dotted;
    font-size: 1.2em;
}

.apsolu-row-odd {
    background-color: #f9f9f9;
}

.apsolu-row-disabled {
    background-color: lightgray;
    text-decoration: line-through;
}

/* Règles CSS pour le module javascript jquery.tablesorter. */
.table-sortable thead .tablesorter-header {
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 1em;
    white-space: normal;
}

.table-sortable,
.table-sortable caption,
.table-sortable thead .tablesorter-header,
.table-sortable thead .tablesorter-filter-row {
    background-color: #fff;
}

.table-sortable .tablesorter-header-inner {
    padding: 4px 18px 4px 4px;
    position: relative;
}

.table-sortable .tablesorter-filter-row input.tablesorter-filter,
.table-sortable .tablesorter-filter-row select.tablesorter-filter {
    box-sizing: border-box;
    margin: 0;
    -moz-box-sizing: border-box;
    -moz-transition: height .1s ease;
    -o-transition: height .1s ease;
    transition: height .1s ease;
    -webkit-box-sizing: border-box;
    -webkit-transition: height .1s ease;
    width: 98%;
}

.table-sortable .tablesorter-filter-row .tablesorter-filter.disabled {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
    box-sizing: border-box;
    cursor: not-allowed;
    transition: height .1s ease;
}

.table-sortable .tablesorter-filter-row.hideme td {
    line-height: 0;
    margin: 0;
    padding: 2px;
}

.table-sortable .tablesorter-filter-row.hideme * {
    border: 0;
    height: 1px;
    margin: 0;
    min-height: 0;
    opacity: 0;
    padding: 0;
}

.table-sortable thead tr .tablesorter-header:not(.sorter-false) {
    background-image: url([[pix:core|t/sort]]);
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: .6em;
    cursor: pointer;
}

.table-sortable thead tr .tablesorter-headerAsc:not(.sorter-false) {
    background-image: url([[pix:core|t/sort_asc]]);
    background-size: 1em;
    color: #b50;
}

.table-sortable thead tr .tablesorter-headerDesc:not(.sorter-false) {
    background-image: url([[pix:core|t/sort_desc]]);
    background-size: 1em;
    color: #b50;
}

.table-sortable .filtered {
    display: none;
}

.table-sortable .filter-false .tablesorter-header-inner {
    padding: 4px;
}

.tablesorter-filter-row .disabled {
    visibility: hidden;
}

select.tablesorter-filter {
    background-color: #fff;
    padding: .2em;
}

.tablesorter-header-condensed .tablesorter-header-inner {
    padding-right: 4px;
}

/* Réduit les marges verticales sur la page des créneaux et des notes. */
#page-admin-local-apsolu-courses-index #page-wrapper,
#page-admin-local-apsolu-federation-index #page-wrapper,
#page-admin-local-apsolu-grades-admin-index #page-wrapper,
#page-local-apsolu-grades-index #page-wrapper {
    padding-top: 3rem;
}

#page-admin-local-apsolu-courses-index #page-header,
#page-admin-local-apsolu-federation-index #page-header,
#page-admin-local-apsolu-grades-admin-index #page-header,
#page-local-apsolu-grades-index #page-header {
    padding-bottom: 0;
    padding-top: 0;
}

#page-admin-local-apsolu-courses-index #topofscroll,
#page-admin-local-apsolu-federation-index #topofscroll,
#page-admin-local-apsolu-grades-admin-index #topofscroll,
#page-local-apsolu-grades-index #topofscroll {
    margin-top: 0;
    padding-top: 0;
}

.local-apsolu-courses-details {
    margin: 1em 2em;
    padding: 2em;
}

.local-apsolu-cards-summary,
.local-apsolu-courses-summary {
    display: list-item;
    cursor: pointer;
    text-decoration: underline;
}

.local-apsolu-courses-summary {
    font-weight: bold;
    margin-bottom: 1em;
}

#page-admin-local-apsolu-payment-admin form select[multiple='multiple'] {
    max-width: 500px;
}

#apsolu-payment-total-div {
    border-top: 1px solid gray;
    margin-top: 1em;
    padding-top: .5em;
}

#apsolu-payment-paid-div {
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
    padding-bottom: .5em;
}

#apsolu-payment-total-div,
#apsolu-payment-paid-div {
    background-color: #eee;
}

.apsolu-payment-user-profile {
    border-bottom: 1px lightgray solid;
    border-top: 1px lightgray solid;
    margin: 1em 0;
    padding: .5em 0;
}

#table-courses-sortable .tot {
    font-size: .85em;
    padding: 0 1em;
}

/* Notations */
#apsolu-grades-filters summary {
    font-size: 1.5rem;
}

#apsolu-grades-filters legend a {
    font-size: 1.2rem;
    font-weight: normal;
}

#apsolu-grades-filters #fitem_id_courses li[data-value$="-0"] {
    font-weight: bold;
}

/* Offre de formations. */
#apsolu-offerings-filters-aside {
    display: none;
}

.apsolu-offerings-filters-labels {
    display: block;
    margin: 1em 0 0 0;
}

#apsolu-presentation-table tbody th {
    background-color: #434241;
    color: #f39c12;
    padding: 0 1em;
    line-height: 2em;
}

#apsolu-presentation-table .hide,
#apsolu-presentation-table-sticky .hide {
    display: none;
}

#apsolu-presentation-table tbody ul {
    margin: 0;
}

#apsolu-presentation-table tbody ul li {
    white-space: nowrap;
}

#apsolu-presentation-table .apsolu-modal-sports-descriptions {
    z-index: 4040;
}

#apsolu-presentation-table .apsolu-modal-sports-descriptions-button,
#apsolu-presentation-table .apsolu-modal-sports-descriptions-button:focus,
#apsolu-presentation-table .apsolu-modal-sports-descriptions-button:hover {
    background: none;
    border: none;
    line-height: 1.5;
}

/* Module FFSU. */
#local-apsolu-federation-adhesion-summary .row:nth-child(odd) {
    background-color: rgba(0, 0, 0, .05);
}

#local-apsolu-federation-adhesion-summary dd {
    margin: 0;
}

/* Résolutions supérieures ou égales à 1200px de large. */
@media (min-width: 1200px) {
    #apsolu-offerings-toolbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #apsolu-offerings-toolbar-filters {
        text-align: right;
    }

    #apsolu-offerings-content {
        display: grid;
        grid-template-areas: 'list filters';
        grid-template-columns: 1fr;
    }

    #apsolu-offerings-filters-aside {
        grid-area: filters;
        margin: 1em 0 0 1em;
        transition: .5s;
        width: 18em;
    }

    #apsolu-offerings-courses {
        grid-area: list;
    }
}

/* Administration > statistiques > tableau de bord: corrige le débordement des tableaux. */
#page-admin-local-apsolu-statistics-population-index .chart-area .chart-image,
#page-admin-local-apsolu-statistics-programme-index .chart-area .chart-image {
    width: auto;
}

/* Administration > communication > historique > Message envoyé. */
#page-admin-local-apsolu-communication-index #fitem_id_message div[data-fieldtype="editor"] {
    display: block !important; /* stylelint-disable-line declaration-no-important */
}

/* Styles pour masquer des colonnes de tableau */
.table thead th.table-column-shrink {
    width: 0.1%;
    white-space: nowrap;
}

.apsolu-mask-wrapper th:not(.no-mask) .tablesorter-header-inner {
    padding-right: 6px;
}

.apsolu-mask-wrapper .hide-column {
    font-size: 13px;
}


.apsolu-mask-wrapper .hide-column-container {
    margin-top: auto;
    padding-bottom: 4px;
}

.apsolu-mask-wrapper .tablesorter-headerUnSorted:not(.sorter-false) .hide-column,
.apsolu-mask-wrapper .tablesorter-headerAsc:not(.sorter-false) .hide-column,
.apsolu-mask-wrapper .tablesorter-headerDesc:not(.sorter-false) .hide-column {
    margin-right: 20px;
}

.apsolu-mask-wrapper .hide-col {
    display: none !important; /* stylelint-disable-line declaration-no-important */
}

.apsolu-mask-wrapper .btn.restore-columns {
    padding: 5px 1px;
    color: #b50;
    text-align: left;
    font-size: 0.95rem;
}
