{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/attendance_sessions_view

    Template Moodle pour afficher le récapitulatif des présences.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * period
        * courseid
        * url
        * count_sessions
        * sessions
            * id
            * count
            * name
            * sessiontimestr
            * location


    Example context (json):
    {
        "period": []
    }
}}
{{^period}}
    <p class="alert alert-info">{{#str}}attendance_no_periods, local_apsolu{{/str}}</p>
{{/period}}

{{#period}}
    <ul class="list-inline text-end">
        <li class="list-inline-item"><a class="btn btn-primary" href="{{ url }}/local/apsolu/attendance/index.php?page=sessions&action=edit&courseid={{ courseid }}&sessionid=0">{{#str}}attendance_add_session, local_apsolu{{/str}}</a></li>
    </ul>

    {{^count_sessions}}
        <p class="alert alert-info">{{#str}}attendance_no_sessions, local_apsolu{{/str}}</p>
    {{/count_sessions}}

    {{#count_sessions}}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{#str}}name{{/str}}</th>
            <th>{{#str}}date{{/str}}</th>
            <th>{{#str}}location, local_apsolu{{/str}}</th>
            <th>{{#str}}action{{/str}}</th>
        </tr>
        </thead>
        <tbody>
        {{#sessions}}
        <tr>
            <td>{{ name }}</td>
            <td>{{ sessiontimestr }}</td>
            <td>{{ location }}</td>
            <td>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn btn-sm btn-primary" href="{{ url }}/local/apsolu/attendance/index.php?page=sessions&action=edit&courseid={{ courseid }}&sessionid={{ id }}">{{#str}}edit{{/str}}</a></li>
                    {{^count}}
                    <li class="list-inline-item"><a class="btn btn-sm btn-danger" href="{{ url }}/local/apsolu/attendance/index.php?page=sessions&action=delete&courseid={{ courseid }}&sessionid={{ id }}">{{#str}}delete{{/str}}</a></li>
                    {{/count}}
                </ul>
            </td>
        </tr>
        {{/sessions}}
        </tbody>
        </table>
    {{/count_sessions}}
{{/period}}
