{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/communication_preview

    Template Moodle pour afficher la vue d'ensemble des inscriptions.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * count_rows
    * rows
        * id
        * firstname
        * lastname
        * calendar
        * minregister
        * maxregister
        * count_warnings
        * count_courses
        * courses
            * id
            * fullname
    * form
    * submit

    Example context (json):
    {
        "wwwroot": "",
        "count_rows": 0,
        "rows": [],
        "form" : "",
        "submit": true
    }
}}
{{#count_rows}}
<table class="table table-striped">
    <tr>
        <th>{{#str}}firstname{{/str}}</th>
        <th>{{#str}}lastname{{/str}}</th>
        <th>{{#str}}idnumber{{/str}}</th>
        <th>{{#str}}email{{/str}}</th>
    </tr>
    {{#rows}}
    <tr>
        <td>{{ firstname }}</td>
        <td>{{ lastname }}</td>
        <td>{{ idnumber }}</td>
        <td>{{ email }}</td>
    </tr>
    {{/rows}}
</table>
{{/count_rows}}
