{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/configuration_calendars_delete

    Template Moodle pour afficher la page de suppression d'un calendrier.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * count_courses
    * courses
        * id
        * fullname

    Example context (json):
    {
        "wwwroot": "",
        "count_courses": 0,
        "courses": []
    }
}}
<div class="alert alert-danger">
    <p>{{#str}}are_you_sure_you_want_to_delete_this_calendar, local_apsolu, {{calendarname}}{{/str}}</p>
    {{^count_courses}}
        {{#str}}this_calendar_is_not_used_by_courses, local_apsolu{{/str}}
    {{/count_courses}}

    {{#count_courses}}
    <details>
        <summary>{{#str}}this_calendar_is_used_by_courses, local_apsolu, {{count_courses}}{{/str}}</summary>
        <ul>
            {{#courses}}
            <li><a href="{{wwwroot}}/course/view.php?id={{id}}">{{fullname}}</a></li>
            {{/courses}}
        </ul>
    </details>
    {{/count_courses}}
</div>
