{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/configuration_calendars

    Template Moodle pour afficher la liste des calendriers.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * notification
    * wwwroot
    * count_calendars
    * calendars
        * id
        * enrolstartdate
        * enrolenddate
        * coursestartdate
        * courseenddate
        * reenrolstartdate
        * reenrolenddate
        * gradestartdate
        * gradeenddate

    Example context (json):
    {
        "notification": "",
        "wwwroot": "",
        "count_calendars": 0,
        "calendars": []
    }
}}
{{#notification}}
    {{{notification}}}
{{/notification}}

<p class="text-end">
    <a class="btn btn-primary" href="{{wwwroot}}/local/apsolu/configuration/index.php?page=calendars&action=edit">{{#str}}calendar_add, local_apsolu{{/str}}</a>
</p>

{{^calendars}}
<p class="alert alert-info">{{#str}}no_calendar, local_apsolu{{/str}}</p>
{{/calendars}}

{{#count_calendars}}
<table class="table table-striped table-sortable">
<thead>
    <tr>
        <th>{{#str}}name{{/str}}</th>
        <th>{{#str}}enrolstartdate, local_apsolu{{/str}}</th>
        <th>{{#str}}enrolenddate, local_apsolu{{/str}}</th>
        <th>{{#str}}coursestartdate, local_apsolu{{/str}}</th>
        <th>{{#str}}courseenddate, local_apsolu{{/str}}</th>
        <th>{{#str}}reenrolstartdate, local_apsolu{{/str}}</th>
        <th>{{#str}}reenrolenddate, local_apsolu{{/str}}</th>
        <th>{{#str}}gradestartdate, local_apsolu{{/str}}</th>
        <th>{{#str}}gradeenddate, local_apsolu{{/str}}</th>
        <th>{{#str}}calendartype, local_apsolu{{/str}}</th>
        <th class="sorter-false">{{#str}}actions{{/str}}</th>
    </tr>
</thead>
<tbody>
    {{#calendars}}
    <tr>
        <td>{{name}}</td>
        <td{{#style_enrolstartdate}} {{{.}}}{{/style_enrolstartdate}}>{{#enrolstartdate}}{{#userdate}} {{enrolstartdate}}, {{#str}} strftimedatetimeshort, local_apsolu {{/str}} {{/userdate}}{{/enrolstartdate}}</td>
        <td{{#style_enrolenddate}} {{{.}}}{{/style_enrolenddate}}>{{#enrolenddate}}{{#userdate}} {{enrolenddate}}, {{#str}} strftimedatetimeshort, local_apsolu {{/str}} {{/userdate}}{{/enrolenddate}}</td>
        <td{{#style_coursestartdate}} {{{.}}}{{/style_coursestartdate}}>{{#coursestartdate}}{{#userdate}} {{coursestartdate}}, {{#str}} strftimedatetimeshort, local_apsolu {{/str}} {{/userdate}}{{/coursestartdate}}</td>
        <td{{#style_courseenddate}} {{{.}}}{{/style_courseenddate}}>{{#courseenddate}}{{#userdate}} {{courseenddate}}, {{#str}} strftimedatetimeshort, local_apsolu {{/str}} {{/userdate}}{{/courseenddate}}</td>
        <td{{#style_reenrolstartdate}} {{{.}}}{{/style_reenrolstartdate}}>{{#reenrolstartdate}}{{#userdate}} {{reenrolstartdate}}, {{#str}} strftimedatetimeshort, local_apsolu {{/str}} {{/userdate}}{{/reenrolstartdate}}</td>
        <td{{#style_reenrolenddate}} {{{.}}}{{/style_reenrolenddate}}>{{#reenrolenddate}}{{#userdate}} {{reenrolenddate}}, {{#str}} strftimedatetimeshort, local_apsolu {{/str}} {{/userdate}}{{/reenrolenddate}}</td>
        <td{{#style_gradestartdate}} {{{.}}}{{/style_gradestartdate}}>{{#gradestartdate}}{{#userdate}} {{gradestartdate}}, {{#str}} strftimedatetimeshort, local_apsolu {{/str}} {{/userdate}}{{/gradestartdate}}</td>
        <td{{#style_gradeenddate}} {{{.}}}{{/style_gradeenddate}}>{{#gradeenddate}}{{#userdate}} {{gradeenddate}}, {{#str}} strftimedatetimeshort, local_apsolu {{/str}} {{/userdate}}{{/gradeenddate}}</td>
        <td>{{type}}</td>
        <td>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{wwwroot}}/local/apsolu/configuration/index.php?page=calendars&action=edit&calendarid={{id}}">{{#pix}}t/edit, core, {{#str}}edit{{/str}}{{/pix}}</a></li>
                <li class="list-inline-item"><a href="{{wwwroot}}/local/apsolu/configuration/index.php?page=calendars&action=delete&calendarid={{id}}">{{#pix}}t/delete, core, {{#str}}delete{{/str}}{{/pix}}</a></li>
            </ul>
        </td>
    </tr>
    {{/calendars}}
</tbody>
</table>
{{/count_calendars}}
