{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/configuration_attendance_statuses

    Template Moodle pour afficher la liste des types de présences.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * notification
    * wwwroot
    * count_attendance_statuses
    * attendance_statuses
        * id
        * shortlabel
        * longlabel
        * sumlabel
        * color
        * absence
        * sortorder

    Example context (json):
    {
        "notification": "",
        "wwwroot": "",
        "count_attendance_statuses": 0,
        "attendance_statuses": []
    }
}}
{{#notification}}
    {{{notification}}}
{{/notification}}

<p class="text-end">
    <a class="btn btn-primary" href="{{wwwroot}}/local/apsolu/configuration/index.php?page=attendancestatuses&action=edit">{{#str}}attendance_status_add, local_apsolu{{/str}}</a>
</p>

{{^attendance_statuses}}
<p class="alert alert-info">{{#str}}no_attendance_statuses, local_apsolu{{/str}}</p>
{{/attendance_statuses}}

{{#count_attendance_statuses}}
<table class="table table-striped">
<thead>
    <tr>
        <th>{{#str}}short_label, local_apsolu{{/str}}</th>
        <th>{{#str}}long_label, local_apsolu{{/str}}</th>
        <th>{{#str}}sum_label, local_apsolu{{/str}}</th>
        <th>{{#str}}is_an_absence, local_apsolu{{/str}}</th>
        <th>{{#str}}actions{{/str}}</th>
    </tr>
</thead>
<tbody>
    {{#attendance_statuses}}
    <tr>
        <td class="text-{{color}}">{{shortlabel}}</td>
        <td>{{longlabel}}</td>
        <td>{{sumlabel}}</td>
        <td>{{#absence}}{{#str}}yes{{/str}}{{/absence}}{{^absence}}{{#str}}no{{/str}}{{/absence}}</td>
        <td>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{wwwroot}}/local/apsolu/configuration/index.php?page=attendancestatuses&action=edit&statusid={{id}}">{{#pix}}t/edit, core, {{#str}}edit{{/str}}{{/pix}}</a></li>
                <li class="list-inline-item"><a href="{{wwwroot}}/local/apsolu/configuration/index.php?page=attendancestatuses&action=delete&statusid={{id}}">{{#pix}}t/delete, core, {{#str}}delete{{/str}}{{/pix}}</a></li>
                {{^last}}
                <li class="list-inline-item"><a href="{{wwwroot}}/local/apsolu/configuration/index.php?page=attendancestatuses&action=movedown&statusid={{id}}">{{#pix}}t/down,core,{{#str}}down{{/str}}{{/pix}}</a></li>
                {{/last}}
                {{^first}}
                <li class="list-inline-item"><a href="{{wwwroot}}/local/apsolu/configuration/index.php?page=attendancestatuses&action=moveup&statusid={{id}}">{{#pix}}t/up,core,{{#str}}up{{/str}}{{/pix}}</a></li>
                {{/first}}
            </ul>
        </td>
    </tr>
    {{/attendance_statuses}}
</tbody>
</table>
{{/count_attendance_statuses}}
