{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/configuration_calendars_types

    Template Moodle pour afficher les types de calendrier.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * notification
    * count_calendars_types
    * calendars_types
        * id
        * name

    Example context (json):
    {
        "wwwroot": "",
        "notification": "",
        "count_calendars_types": 0,
        "calendars_types": []
    }
}}
{{#notification}}
	{{{notification}}}
{{/notification}}

<p class="text-right">
	<a class="btn btn-primary" href="{{wwwroot}}/local/apsolu/configuration/index.php?page=calendarstypes&action=edit">{{#str}}calendar_type_add, local_apsolu{{/str}}</a>
</p>

{{^count_calendars_types}}
<p class="alert alert-info">{{#str}}no_calendar_type, local_apsolu{{/str}}</p>
{{/count_calendars_types}}

{{#count_calendars_types}}
<table class="table table-striped">
<thead>
	<tr>
		<th>{{#str}}name{{/str}}</th>
		<th>{{#str}}actions{{/str}}</th>
	</tr>
</thead>
<tbody>
	{{#calendars_types}}
	<tr>
		<td>{{name}}</td>
		<td><a href="{{wwwroot}}/local/apsolu/configuration/index.php?page=calendarstypes&action=edit&typeid={{id}}">{{#pix}}t/edit,core,{{#str}}edit{{/str}}{{/pix}}</a></td>
	</tr>
	{{/calendars_types}}
</tbody>
</table>
{{/count_calendars_types}}
