<h1>{{#str}}locations_list, local_apsolu{{/str}}</h1>

{{#notification}}
	{{{notification}}}
{{/notification}}

<p class="text-right">
	<a class="btn btn-primary" href="{{wwwroot}}/local/apsolu/courses/index.php?tab=locations&action=edit">{{#str}}location_add, local_apsolu{{/str}}</a>
</p>

{{^locations}}
<p class="alert alert-info">{{#str}}no_location, local_apsolu{{/str}}</p>
{{/locations}}

{{#count_locations}}
<table class="table table-striped table-sortable">
<thead>
	<tr>
		<th>{{#str}}locations, local_apsolu{{/str}}</th>
		<th>{{#str}}addresses, local_apsolu{{/str}}</th>
		<th>{{#str}}emails, local_apsolu{{/str}}</th>
		<th>{{#str}}phones, local_apsolu{{/str}}</th>
		<th>{{#str}}longitudes, local_apsolu{{/str}}</th>
		<th>{{#str}}latitudes, local_apsolu{{/str}}</th>
		<th>{{#str}}areas, local_apsolu{{/str}}</th>
		<th>{{#str}}managers, local_apsolu{{/str}}</th>
		<th>{{#str}}actions{{/str}}</th>
	</tr>
</thead>
<tbody>
	{{#locations}}
	<tr>
		<td>{{name}}</td>
		<td>{{address}}</td>
		<td>{{email}}</td>
		<td>{{phone}}</td>
		<td>{{longitude}}</td>
		<td>{{latitude}}</td>
		<td>{{area}}</td>
		<td>{{manager}}</td>
		<td><a href="{{wwwroot}}/local/apsolu/courses/index.php?tab=locations&action=edit&locationid={{id}}">{{#pix}}t/edit,core,{{#str}}edit{{/str}}{{/pix}}</a></td>
	</tr>
	{{/locations}}
</tbody>
</table>
{{/count_locations}}
