{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/courses_categories

    Template Moodle pour afficher la liste des activités sportives.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * notification
    * count_categories
    * categories
        * id
        * name
        * grouping
        * federation

    Example context (json):
    {
        "wwwroot": "",
        "notification": "",
        "count_categories": 0,
        "categories": []
    }
}}
<h1>{{#str}}categories_list, local_apsolu{{/str}}</h1>

{{#notification}}
	{{{notification}}}
{{/notification}}

<p class="text-right">
	<a class="btn btn-primary" href="{{wwwroot}}/local/apsolu/courses/index.php?tab=categories&action=edit">{{#str}}category_add, local_apsolu{{/str}}</a>
</p>

{{^count_categories}}
<p class="alert alert-info">{{#str}}no_category, local_apsolu{{/str}}</p>
{{/count_categories}}

{{#count_categories}}
<table class="table table-striped table-sortable">
<thead>
	<tr>
		<th>{{#str}}categories, local_apsolu{{/str}}</th>
		<th>{{#str}}groupings, local_apsolu{{/str}}</th>
		{{#federation_course}}
		<th>{{#str}}federation, local_apsolu{{/str}}</th>
		{{/federation_course}}
		<th>{{#str}}actions{{/str}}</th>
	</tr>
</thead>
<tbody>
	{{#categories}}
	<tr>
		<td>{{name}}</td>
		<td>{{grouping}}</td>
		{{#federation_course}}
		<td>{{#federation}}{{#str}}yes{{/str}}{{/federation}}{{^federation}}{{#str}}no{{/str}}{{/federation}}</td>
		{{/federation_course}}
		<td>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="{{wwwroot}}/local/apsolu/courses/index.php?tab=categories&action=edit&categoryid={{id}}">{{#pix}}t/edit,core,{{#str}}edit{{/str}}{{/pix}}</a></li>
				<li class="list-inline-item"><a href="{{wwwroot}}/local/apsolu/courses/index.php?tab=categories&action=delete&categoryid={{id}}">{{#pix}}t/delete,core,{{#str}}delete{{/str}}{{/pix}}</a></li>
			</ul>
		</td>
	</tr>
	{{/categories}}
</tbody>
</table>
{{/count_categories}}
