<h1>{{#str}}overview, local_apsolu{{/str}}</h1>

{{^count_categories}}
<p class="alert alert-info">{{#str}}no_category, local_apsolu{{/str}}
{{/count_categories}}

{{#count_categories}}
<ul class="list list-unstyled list-group row">
{{#categories}}
	<li class="list-group-item col-lg-3 col-xs-6"><a href="{{wwwroot}}/local/apsolu/courses/index.php?tab=overview&categoryid={{id}}">{{name}}</a></li>
{{/categories}}
</ul>
{{/count_categories}}
