{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/courses_holidays

    Template Moodle pour afficher la listes des jours fériés.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * notification
    * count_holidays
    * holidays
        * id
        * day

    Example context (json):
    {
        "wwwroot": "",
        "notification": "",
        "count_holidays": 0,
        "holidays": []
    }
}}
<h1>{{#str}}holidays_list, local_apsolu{{/str}}</h1>

{{#notification}}
	{{{notification}}}
{{/notification}}

<div class="dropdown m-2 show text-end">
    <a aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle icon-no-margin" data-bs-toggle="dropdown" href="#" id="dropdown-holidays-actions" role="button">
        {{#str}}actions{{/str}}<b class="caret"></b>
    </a>

    <div aria-labelledby="dropdown-holidays-actions" class="apsolu-dropdown-menu dropdown-menu dropdown-menu-end">
        <a class="dropdown-item menu-action" href="{{wwwroot}}/local/apsolu/courses/index.php?tab=holidays&action=edit">
            <i aria-hidden="true" class="fa fa-fw fa-plus icon"></i>{{#str}}add_holiday, local_apsolu{{/str}}
        </a>
        <a class="dropdown-item menu-action" href="{{wwwroot}}/local/apsolu/courses/index.php?tab=holidays&action=generate">
            <i aria-hidden="true" class="fa fa-calendar fa-fw icon"></i>{{#str}}generate_holidays, local_apsolu{{/str}}
        </a>
        <a class="dropdown-item menu-action" href="{{wwwroot}}/local/apsolu/courses/index.php?tab=holidays&action=purge">
            <i aria-hidden="true" class="fa fa-fw fa-trash icon"></i>{{#str}}purge_holidays, local_apsolu{{/str}}
        </a>
    </div>
</div>

{{^count_holidays}}
<p class="alert alert-info">{{#str}}no_holidays, local_apsolu{{/str}}</p>
{{/count_holidays}}

{{#count_holidays}}
<table class="table table-striped">
<thead>
	<tr>
		<th>{{#str}}holidays, local_apsolu{{/str}}</th>
		<th>{{#str}}actions{{/str}}</th>
	</tr>
</thead>
<tbody>
	{{#holidays}}
	<tr>
		<td>{{#userdate}}{{day}}, {{#str}}strftimedaydate{{/str}}{{/userdate}}</td>
		<td>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="{{wwwroot}}/local/apsolu/courses/index.php?tab=holidays&action=edit&holidayid={{id}}">{{#pix}}t/edit,core,{{#str}}edit{{/str}}{{/pix}}</a></li>
				<li class="list-inline-item"><a href="{{wwwroot}}/local/apsolu/courses/index.php?tab=holidays&action=delete&holidayid={{id}}">{{#pix}}t/delete,core,{{#str}}delete{{/str}}{{/pix}}</a></li>
			</ul>
		</td>
	</tr>
	{{/holidays}}
</tbody>
</table>
{{/count_holidays}}
