<h1>{{#str}}managers_list, local_apsolu{{/str}}</h1>

{{#notification}}
	{{{notification}}}
{{/notification}}

<p class="text-right">
	<a class="btn btn-primary" href="{{wwwroot}}/local/apsolu/courses/index.php?tab=managers&action=edit">{{#str}}manager_add, local_apsolu{{/str}}</a>
</p>

{{^managers}}
<p class="alert alert-info">{{#str}}no_manager, local_apsolu{{/str}}</p>
{{/managers}}

{{#count_managers}}
<table class="table table-striped table-sortable">
<thead>
	<tr>
		<th>{{#str}}managers, local_apsolu{{/str}}</th>
		<th>{{#str}}actions{{/str}}</th>
	</tr>
</thead>
<tbody>
	{{#managers}}
	<tr>
		<td>{{name}}</td>
		<td><a href="{{wwwroot}}/local/apsolu/courses/index.php?tab=managers&action=edit&managerid={{id}}">{{#pix}}t/edit,core,{{#str}}edit{{/str}}{{/pix}}</a></td>
	</tr>
	{{/managers}}
</tbody>
</table>
{{/count_managers}}
