{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/federation_listing

    Template Moodle pour afficher le formulaire d'extraction FFSU.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * count_users
    * users
      * id
      * htmlpicture
      * lastname
      * firstname
      * idnumber
      * institution
      * department
      * customfields
        * apsolucardpaid
        * apsolucycle
        * apsolusex
        * apsoluufr
      * course
      * enrol
      * rolename
      * list

    Example context (json):
    {
        "wwwroot": "https://apsolu.fr",
        "count_users": 0,
        "users": []
    }
}}
{{^users}}
<p class="alert alert-info">{{#str}}no_students, local_apsolu{{/str}}</p>
{{/users}}

{{#count_users}}
<p class="alert alert-info">{{#str}}students_found, local_apsolu, {{ count_users }}{{/str}}</p>

<form action="{{action}}" method="post">
	<table class="table table-striped">
	<thead>
		<tr>
			<th>{{{ mastercheckbox }}}</th>
			<th>{{#str}}pictureofuser{{/str}}</th>
			<th>{{#str}}lastname{{/str}}</th>
			<th>{{#str}}firstname{{/str}}</th>
			<th>{{#str}}federation_number, local_apsolu{{/str}}</th>
			<th>{{#str}}activities, local_apsolu{{/str}}</th>
			<th>{{#str}}idnumber{{/str}}</th>
			<th>{{#str}}user_title, local_apsolu{{/str}}</th>
			<th>{{#str}}institution{{/str}}</th>
			<th>{{#str}}department{{/str}}</th>
			<th>{{#str}}fields_apsoluufr, local_apsolu{{/str}}</th>
			<th>{{#str}}fields_apsolucycle, local_apsolu{{/str}}</th>
		</tr>
	</thead>
	<tbody>
		{{#users}}
		<tr>
			<td>{{{ checkbox }}}</td>
			<td>{{{htmlpicture}}}</td>
			<td>{{lastname}}</td>
			<td>{{firstname}}</td>
			<td>{{federationnumber}}</td>
			<td>{{activities}}</td>
			<td>{{idnumber}}</td>
			<td>{{title}}</td>
			<td>{{institution}}</td>
			<td>{{department}}</td>
			<td>{{ufr}}</td>
			<td>{{cycle}}</td>
		</tr>
		{{/users}}
	</tbody>
	</table>

	<p><input type="submit" class="btn btn-primary" name="notify" value="{{#str}}notify, local_apsolu{{/str}}" /></p>
</form>
{{/count_users}}
