{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/grades

    Template Moodle pour afficher la page de saisie des notes.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * action
    * periods
        * active
        * shortname
        * label
    * count_saved_students
    * require_grades
    * count_users
    * users
        * htmlpicture
        * lastname
        * firstname
        * institution
        * ufr
        * lmd
        * rolename
        * grades
    * count_overall_users
        * courseid

    Example context (json):
    {
        "action": "https://apsolu.fr/action",
        "periods": [],
        "count_saved_students": 0,
        "require_grades": "",
        "count_users": 0,
        "users": [],
        "count_overall_users": 0
    }
}}
<ul class="nav nav-tabs" role="tablist">
{{#periods}}
	<li class="nav-item">
    <a class="nav-link{{#active}} active{{/active}}" aria-selected="{{#active}}true{{/active}}{{^active}}false{{/active}}" data-toggle="tab" href="#{{shortname}}" role="tab">{{label}}</a>
  </li>
{{/periods}}
</ul>

<form id="apsolu-form-grades" method="post" action="{{action}}">
	{{#count_saved_students}}
	<p class="alert alert-success">{{count_saved_students}} note(s) enregistrée(s)</p>
	{{/count_saved_students}}

	<div class="mt-3 tab-content">
		{{#periods}}
		<div id="{{shortname}}" class="tab-pane fade in{{#active}} active{{/active}}">

			{{#require_grades}}
			<p class="alert alert-danger">{{require_grades}} élément(s) en attente de notation.</p>
			{{/require_grades}}

			{{^count_users}}
			<p class="alert alert-info">{{#str}}no_grading_student, local_apsolu{{/str}}</p>
			{{/count_users}}

			{{#count_users}}
				<table class="table table-bordered table-sortable">
					<thead>
						<tr>
							<th rowspan="2">{{#str}}pictureofuser{{/str}}</th>
							<th rowspan="2">{{#str}}lastname{{/str}}</th>
							<th rowspan="2">{{#str}}firstname{{/str}}</th>
							<th rowspan="2">Établissement</th>
							<th rowspan="2">UFR</th>
							<th rowspan="2">LMD</th>
							<th rowspan="2">Rôle</th>
							<th colspan="6" class="text-center">{{label}}</th>
						</tr>
						<tr>
							<th>ABI</th>
							<th>ABJ</th>
							<th>Note pratique</th>
							<th>ABI</th>
							<th>ABJ</th>
							<th>Note théorique</th>
						</tr>
					</thead>

					<tbody>
					{{#users}}
						<tr>
							<td>{{{htmlpicture}}}</td>
							<td>{{lastname}}</td>
							<td>{{firstname}}</td>
							<td>{{institution}}</td>
							<td>{{ufr}}</td>
							<td>{{lmd}}</td>
							<td>{{rolename}}</td>
							{{#grades}}
								{{{.}}}
							{{/grades}}
						</tr>
					{{/users}}
					</tbody>
				</table>
			{{/count_users}}

		</div>
		{{/periods}}
	</div>

	{{#count_overall_users}}
	<p class="text-right"><input class="btn btn-primary" type="submit" value="{{#str}}save{{/str}}" name="grading" /><input type="hidden" name="courseid" value="{{courseid}}" /></p>
	{{/count_overall_users}}
</form>

