{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/grades_export

    Template Moodle pour exporter les notes.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * action
    * found_users
    * count_users
    * users
        * htmlpicture
        * lastname
        * firstname
        * idnumber
        * customfields.apsolusex
        * institution
        * department
        * customfields.apsoluufr
        * customfields.apsolucycle
        * rolename
        * course
        * grade1
        * grade2

    Example context (json):
    {
        "action": "",
        "found_users": "",
        "count_users": 0,
        "users": []
    }
}}
{{^users}}
<p class="alert alert-info">{{#str}}no_student, local_apsolu{{/str}}</p>
{{/users}}

{{#count_users}}
<p class="alert alert-info">{{found_users}}</p>

<form action="{{action}}" method="post">
	<table class="table table-striped table-sortable table-bordered">
	<thead>
		<tr>
			<th rowspan="2">{{#str}}pictureofuser{{/str}}</th>
			<th rowspan="2">{{#str}}lastname{{/str}}</th>
			<th rowspan="2">{{#str}}firstname{{/str}}</th>
			<th rowspan="2">{{#str}}idnumber{{/str}}</th>
			<th rowspan="2">{{#str}}sex, local_apsolu{{/str}}</th>
			<th rowspan="2">{{#str}}institution{{/str}}</th>
			<th rowspan="2">{{#str}}department{{/str}}</th>
			<th rowspan="2">{{#str}}ufr, local_apsolu{{/str}}</th>
			<th rowspan="2">{{#str}}cycle, local_apsolu{{/str}}</th>
			<th rowspan="2">{{#str}}role, local_apsolu{{/str}}</th>
			<th rowspan="2">{{#str}}course{{/str}}</th>
			<th colspan="2">{{semester}}</th>
		</tr>
		<tr>
			<th>{{#str}}practicegrade, local_apsolu{{/str}}</th>
			<th>{{#str}}theorygrade, local_apsolu{{/str}}</th>
		</tr>
	</thead>
	<tbody>
		{{#users}}
		<tr>
			<td>{{{htmlpicture}}}</td>
			<td>{{lastname}}</td>
			<td>{{firstname}}</td>
			<td>{{idnumber}}</td>
			<td>{{customfields.apsolusex}}</td>
			<td>{{institution}}</td>
			<td>{{department}}</td>
			<td>{{customfields.apsoluufr}}</td>
			<td>{{customfields.apsolucycle}}</td>
			<td>{{rolename}}</td>
			<td>{{course}}</td>
			<td>{{grade1}}</td>
			<td>{{grade2}}</td>
		</tr>
		{{/users}}
	</tbody>
	</table>
</form>
{{/count_users}}
