<div class="apsolu-pages" id="accueil">
	<div class="apsolu-contents col-md-8 col-md-offset-2 apsolu-opac-text">
		<h2 class="sr-only">{{#str}}homepage_home, local_apsolu{{/str}}</h2>

        {{#is_siuaps_rennes}}
		<div id="apsolu-logo-div" class="clearfix text-center">
			<div id="logo-siuaps-div" class="col-xs-12 col-md-4">
				{{#pix}}logo_siuaps_blue_color_no_text, theme_rennes,{{#str}}homepage_siuaps, local_apsolu{{/str}}{{/pix}}
			</div>

			<div id="logo-rennes1-div" class="col-xs-12 col-md-4">
				{{#pix}}logo_ur1_black, theme_rennes,{{#str}}homepage_ur1, local_apsolu{{/str}}{{/pix}}
			</div>
			<div id="logo-rennes2-div" class="col-xs-12 col-md-4">
				{{#pix}}logo_ur2_black, theme_rennes,{{#str}}homepage_ur2, local_apsolu{{/str}}{{/pix}}
			</div>
		</div>
        {{/is_siuaps_rennes}}

		<div>{{#str}}homepage_summary, local_apsolu{{/str}}</div>

        {{#is_siuaps_rennes}}
		<!-- <p class="apsolu-photo-credits text-right"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:Kovalev_v_Szilagyi_2013_Fencing_WCH_SMS-IN_t194135.jpg">Crédit photo #1</a></p> -->
        {{/is_siuaps_rennes}}
	</div>
</div>
