<div id="apsolu-page">
    {{#count_activities}}
        {{> local_apsolu/homepage_menu }}
    {{/count_activities}}

    {{> local_apsolu/homepage_home }}

    {{#count_activities}}
        {{> local_apsolu/homepage_activities }}
        {{> local_apsolu/homepage_register }}
    {{/count_activities}}
</div>
