<div class="apsolu-pages" id="activites">
	<div class="apsolu-contents col-md-8 col-md-offset-2">
		<div class="apsolu-opac-text">
			<h2 class="sr-only">{{#str}}homepage_activities,local_apsolu{{/str}}</h2>
			<h3 id="apsolu-activities-list-h3">{{#str}}homepage_activitieslist,local_apsolu{{/str}}</h3>
			<div id="apsolu-activities-content-div">
				{{! roles }}
				<div id="apsolu-activities-content-legend-div">
					<h4 class="sr-only">Rôles</h4>
					<ul class="list list-inline text-right">
					{{#roles}}
						<li class="apsolu-roles-list-li"><span title="{{localname}}" class="apsolu-roles apsolu-roles-{{shortname}}"></span><span>{{localname}}</span></li>
					{{/roles}}
					</ul>
				</div>

				{{! activities }}
				<ul id="apsolu-activities-list-ul" class="list-group row">
					{{#activities}}
						<li class="list-group-item">
							<div class="apsolu-activity-content-div">
								<h4 class="apsolu-activities-list-h4">{{name}}</h4>
								{{#description}}
								<div class="apsolu-activities-description-div">{{{description}}}</div>
								{{/description}}
								<div class="table-responsive">
									<table class="table table-striped apsolu-slots-table">
									<thead>
										<tr>
											<th>Enseignant</th>
											<th>Jour</th>
											<th>Horaires</th>
											<th>Niveau</th>
											<th>Lieu</th>
											<th>Période</th>
											<th>Statut possible</th>
										</tr>
									</thead>
									<tbody>
									{{#slots}}
										<tr>
											<td class="text-center">
												{{^count_teachers}}
												<span>-</span>
												{{/count_teachers}}

												{{#count_teachers}}
												<ul class="list list-unstyled">
													{{#teachers}}
														<li>{{{.}}}</li>
													{{/teachers}}
												</ul>
												{{/count_teachers}}
											</td>
											<td>{{weekday}}</td>
											<td>{{starttime}} - {{endtime}}</td>
											<td>{{skill}}{{#event}}<br /><i>{{event}}</i>{{/event}}</td>
											<td>{{location}}</td>
											<td>{{period}}</td>
											<td>
												{{^count_roles}}
												<span>-</span>
												{{/count_roles}}

												{{#count_roles}}
												<ul class="list list-inline">
													{{#roles}}
														<li class="apsolu-roles-list-li"><span title="{{localname}}" class="apsolu-roles apsolu-roles-{{shortname}}"></span><span class="sr-only">{{localname}}</span></li>
													{{/roles}}
												</ul>
												{{/count_roles}}
											</td>
										</tr>
									{{/slots}}
									</tbody>
									</table>
								</div>
							</div>
						</li>
					{{/activities}}
				</ul>
			</div>

			<p class="apsolu-photo-credits text-right"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:USO-Sale_Sharks_-_20131205_-_Ballon_flottant.jpg">Crédit photo #2</a></p>
		</div>
	</div>
</div>
