<div class="apsolu-pages" id="inscription">
	<div class="apsolu-contents col-md-8 col-md-offset-2">
		<div class="apsolu-opac-text">
			<h2 class="sr-only">{{#str}}signup, local_apsolu{{/str}}</h2>

		    {{{ section3_text }}}

            {{#is_siuaps_rennes}}
			<!-- <p class="apsolu-photo-credits text-right"><a target="_blank" href="https://commons.wikimedia.org/wiki/File:Women_heptathlon_LJ_French_Athletics_Championships_2013_t144221.jpg">Crédit photo #3</a></p> -->
            {{/is_siuaps_rennes}}
		</div>
	</div>

	{{#login_link}}
	<ul class="apsolu-inscription row justify-content-md-center" id="authentification">
        {{#institutional_account_url}}
		<li class="col-md-4 col-md-offset-2">
			<a class="btn btn-success btn-lg" href="{{ institutional_account_url }}">{{#str}}i_have_an_institutional_account, local_apsolu{{/str}}</a>
		</li>
        {{/institutional_account_url}}
        {{#non_institutional_account_url}}
		<li class="col-md-4">
			<a class="btn btn-default btn-lg" href="{{ non_institutional_account_url }}">{{#str}}i_have_not_an_institutional_account, local_apsolu{{/str}}</a>
		</li>
        {{/non_institutional_account_url}}
	</ul>
	{{/login_link}}
</div>
