{{#user_selector}}

<p class="text-right"><a class="btn btn-primary" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=payments&action=extract">Extraction csv des paiements</a></p>

<form method="post" action="{{action}}">
    <div>
        <label for="userid">{{#str}}users,moodle{{/str}}</label>
        {{{user_selector}}}
    </div>

    <p>
        <input class="btn btn-default" type="submit" value="{{#str}}select_user, local_apsolu{{/str}}" />
    </p>
</form>
{{/user_selector}}

{{^user_selector}}

	<p class="text-right"><a href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=payments&action=edit&userid={{userid}}" class="btn btn-primary">Ajouter un paiement</a></p>

	<div class="apsolu-payment-user-profile">
		<p>{{{useridentity}}}</p>
		<p class="small">{{#str}}type_auth, plugin{{/str}} : {{user_auth}}</p>
	</div>

	{{^has_sesame}}
	<p class="alert alert-danger">{{#str}}no_sesame, local_apsolu{{/str}}</p>
	{{/has_sesame}}

	{{^count_payments}}
	<div class="alert alert-info">
		<p>{{#str}}no_payments, local_apsolu{{/str}}</p>
	</div>
	{{/count_payments}}

	{{#count_payments}}
	<table class="table table-striped">
		<thead>
		<tr>
			<th>{{#str}}payment_number, local_apsolu{{/str}}</th>
			<th>{{#str}}date, local_apsolu{{/str}}</th>
			<th>{{#str}}amount, local_apsolu{{/str}}</th>
			<th>{{#str}}method, local_apsolu{{/str}}</th>
			<th>{{#str}}source, local_apsolu{{/str}}</th>
			<th>{{#str}}items, local_apsolu{{/str}}</th>
			<th>{{#str}}status, local_apsolu{{/str}}</th>
			<th>{{#str}}actions, local_apsolu{{/str}}</th>
		</tr>
		</thead>
		<tbody>
		{{#payments}}
		<tr>
			<td>{{id}}</td>
			<td>{{timepaid}}</td>
			<td>{{amount_string}}</td>
			<td>{{method_string}}</td>
			<td>{{source_string}}</td>
			<td>{{#count_items}}<ul class="list">{{#items}}<li>{{.}}</li>{{/items}}</ul>{{/count_items}}</td>
			<td class="{{status_style}} text-center">{{status_string}}</td>

			{{^status}}
			<td><a href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=payments&action=edit&userid={{userid}}&&paymentid={{id}}">{{#pix}}i/edit,core,{{#str}}edit{{/str}}{{/pix}}</a></td>
			{{/status}}

			{{#status}}
			<td>-</td>
			{{/status}}
		</tr>
		{{/payments}}
		</tbody>
	</table>
	{{/count_payments}}

	<p class="text-right"><a class="btn btn-default" href="{{backurl}}">{{#str}}research_user, local_apsolu{{/str}}</a></p>
{{/user_selector}}
