{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/payment_cards

    Template Moodle pour afficher la liste des tarifs de paiement.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * notification
    * count_cards
    * cards

    Example context (json):
    {
        "notification": "",
        "count_cards": 0,
        "cards": []
    }
}}
<h1>{{#str}}payment_cards, local_apsolu{{/str}}</h1>

{{#notification}}
	{{{notification}}}
{{/notification}}

<ul class="list-unstyled text-right">
    <li class="list-inline-item"><a class="btn btn-primary" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=prices&action=edit">{{#str}}card_add, local_apsolu{{/str}}</a></li>
    <li class="list-inline-item">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{#str}}overview_of_using_payments, local_apsolu{{/str}}</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=prices&amp;action=extract&amp;format=csv">{{#str}}export_to_csv_format, local_apsolu{{/str}}</a>
                <a class="dropdown-item" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=prices&amp;action=extract&amp;format=xls">{{#str}}export_to_excel_format, local_apsolu{{/str}}</a>
            </div>
        </div>
    </li>
</ul>

{{^cards}}
<p class="alert alert-info">{{#str}}no_card, local_apsolu{{/str}}</p>
{{/cards}}

{{#count_cards}}
<table class="table table-striped table-sortable">
<thead>
	<tr>
		<th>{{#str}}center, local_apsolu{{/str}}</th>
		<th>{{#str}}shortname{{/str}}</th>
		<th>{{#str}}fullname{{/str}}</th>
		<th>{{#str}}price, local_apsolu{{/str}}</th>
		<th>{{#str}}freetrial, local_apsolu{{/str}}</th>
		<th class="sorter-false">{{#str}}shortfreecourses, local_apsolu{{/str}}</th>
		<th class="sorter-false">{{#str}}cohorts, cohort{{/str}}</th>
		<th class="sorter-false">{{#str}}roles{{/str}}</th>
		<th class="sorter-false">{{#str}}actions{{/str}}</th>
	</tr>
</thead>
<tbody>
	{{#cards}}
	<tr>
		<td>{{center}}</td>
		<td>{{name}}</td>
		<td>{{fullname}}</td>
		<td>{{price}}</td>
		<td>{{trial}}</td>

		{{^count_calendars_types}}
		<td class="danger">{{#str}}none{{/str}}</td>
		{{/count_calendars_types}}
		{{#count_calendars_types}}
		<td>
				<ul>
				{{#calendars_types}}<li>{{.}}</li>{{/calendars_types}}
				</ul>
		</td>
		{{/count_calendars_types}}

		{{^count_cohorts}}
		<td class="danger">{{#str}}none{{/str}}</td>
		{{/count_cohorts}}
		{{#count_cohorts}}
		<td>
			<details>
				<summary class="local-apsolu-cards-summary">{{count_cohorts}} {{#str}}cohorts, cohort{{/str}}</summary>
				<ul>
				{{#cohorts}}<li>{{.}}</li>{{/cohorts}}
				</ul>
			</details>
		</td>
		{{/count_cohorts}}

		{{^count_roles}}
		<td class="danger">{{#str}}none{{/str}}</td>
		{{/count_roles}}
		{{#count_roles}}
		<td>
				<ul>
				{{#roles}}<li>{{.}}</li>{{/roles}}
				</ul>
		</td>
		{{/count_roles}}

		<td>
			<ul class="list-unstyled">
				<li><a href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=prices&action=edit&cardid={{id}}"><i class="icon fa fa-cog fa-fw" aria-hidden="true"></i>{{#str}}edit{{/str}}</a></li>
				<li><a href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=prices&action=delete&cardid={{id}}"><i class="icon fa fa-trash fa-fw" aria-hidden="true"></i>{{#str}}delete{{/str}}</a></li>
			</ul>
		</td>
	</tr>
	{{/cards}}
</tbody>
</table>
{{/count_cards}}
