{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/payment_payments

    Template Moodle pour afficher la liste des paiements.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * user_selector
    * action
    * has_sesame
    * userid
    * count_payments
    * payments
    * count_payments_centers
    * payments_centers
    * show_all_transactions

    Example context (json):
    {
        "wwwroot": "",
        "user_selector": "",
        "action": "",
        "has_sesame": "",
        "userid": "",
        "count_payments": 0,
        "payments": "",
        "count_payments_centers": 0,
        "payments_centers": ""
        "show_all_transactions": 1,
    }
}}
{{#user_selector}}

{{#count_payments_centers}}
<div class="dropdown show text-right">
    <a aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown-payments-centers" role="button">
        {{#str}}payments_extraction, local_apsolu{{/str}}
    </a>

    <div aria-labelledby="dropdown-payments-centers" class="dropdown-menu">
        {{#payments_centers}}
        <a class="dropdown-item" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=payments&action=extract&centerid={{id}}">{{name}}</a>
        {{/payments_centers}}
    </div>
</div>
{{/count_payments_centers}}

<form method="post" action="{{action}}">
    <div>
        <label for="userid">{{#str}}users,moodle{{/str}}</label>
        {{{user_selector}}}
    </div>

    <p>
        <input class="btn btn-default btn-secondary" type="submit" value="{{#str}}select_user, local_apsolu{{/str}}" />
    </p>
</form>
{{/user_selector}}

{{^user_selector}}

    <div class="d-flex">
        {{#show_all_transactions}}
        <p>
            <a class="btn btn-outline-secondary btn-sm" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=payments&userid={{userid}}&showall=0">{{#str}}hide_uncommitted_transactions, local_apsolu{{/str}}</a>
        </p>
        {{/show_all_transactions}}

        {{^show_all_transactions}}
        <p>
            <a class="btn btn-outline-primary btn-sm" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=payments&userid={{userid}}&showall=1">{{#str}}show_all_transactions, local_apsolu{{/str}}</a>
        </p>
        {{/show_all_transactions}}

        <p class="ml-auto">
            <a class="btn btn-primary btn-sm" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=payments&action=edit&userid={{userid}}">{{#str}}add_payment, local_apsolu{{/str}}</a>
        </p>
    </div>

    <div class="apsolu-payment-user-profile">
        <p>{{{useridentity}}}</p>
        <p class="small">{{#str}}type_auth, plugin{{/str}} : {{user_auth}}</p>
    </div>

    {{^has_sesame}}
    <p class="alert alert-danger">{{#str}}no_sesame, local_apsolu{{/str}}</p>
    {{/has_sesame}}

    {{#count_due_payments}}
    <h3>{{#str}}list_of_due_payments, local_apsolu{{/str}}</h3>
    <ul class="list-unstyled">
    {{#due_payments}}
        <li>{{#pix}}t/due, local_apsolu, {{#str}}alt_due, local_apsolu{{/str}}{{/pix}} {{ . }}</li>
    {{/due_payments}}
    </ul>
    {{/count_due_payments}}

    <h3>{{#str}}list_of_payments, local_apsolu{{/str}}</h3>
    {{^count_payments}}
    <div class="alert alert-info">
        <p>{{#str}}no_payments, local_apsolu{{/str}}</p>
    </div>
    {{/count_payments}}

    {{#count_payments}}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{#str}}payment_number, local_apsolu{{/str}}</th>
            <th>{{#str}}date, local_apsolu{{/str}}</th>
            <th>{{#str}}amount, local_apsolu{{/str}}</th>
            <th>{{#str}}method, local_apsolu{{/str}}</th>
            <th>{{#str}}source, local_apsolu{{/str}}</th>
            <th>{{#str}}items, local_apsolu{{/str}}</th>
            <th>{{#str}}status, local_apsolu{{/str}}</th>
            <th>{{#str}}actions, local_apsolu{{/str}}</th>
        </tr>
        </thead>
        <tbody>
        {{#payments}}
        <tr>
            <td>{{id}}</td>
            <td>{{timepaid}}</td>
            <td>{{amount_string}}</td>
            <td>{{method_string}}</td>
            <td>{{source_string}}</td>
            <td>{{#count_items}}<ul class="list">{{#items}}<li>{{.}}</li>{{/items}}</ul>{{/count_items}}</td>
            <td class="{{status_style}} text-center">{{status_string}}</td>

            {{^status}}
            <td><a href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=payments&action=edit&userid={{userid}}&&paymentid={{id}}">{{#pix}}i/edit,core,{{#str}}edit{{/str}}{{/pix}}</a></td>
            {{/status}}

            {{#status}}
            <td>-</td>
            {{/status}}
        </tr>
        {{/payments}}
        </tbody>
    </table>
    {{/count_payments}}

    <p class="text-right"><a class="btn btn-default btn-secondary" href="{{backurl}}">{{#str}}research_user, local_apsolu{{/str}}</a></p>
{{/user_selector}}
