{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/payment_notifications_posts

    Template Moodle pour afficher le formulaire de composition du message de relance.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * dunning
    * count_posts
    * posts

    Example context (json):
    {
        "wwwroot": "",
        "dunning": "",
        "count_posts": 0,
        "posts": []
    }
}}
<h1>{{#str}}dunning, local_apsolu{{/str}}</h1>

<ul class="nav nav-tabs mb-3">
	<li class="nav-item"><a class="nav-link" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=notifications&action=compose">{{#str}}compose, local_apsolu{{/str}}</a></li>
	<li class="nav-item"><a class="nav-link" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=notifications&action=history">{{#str}}history, local_apsolu{{/str}}</a></li>
	<li class="nav-item"><a class="nav-link active" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=notifications&action=posts&dunningid={{dunning.id}}">{{#str}}notifications, local_apsolu{{/str}}</a></li>
</ul>

{{#dunning}}
<dl>
    <dt>{{#str}}subject, local_apsolu{{/str}}</dt>
    <dd>{{subject}}</dd>
</dl>
{{/dunning}}

{{^count_posts}}
<p class="alert alert-warning">{{#str}}nodata, local_apsolu{{/str}}</p>
{{/count_posts}}

{{#count_posts}}
<table class="table table-striped">
<thead>
	<tr>
		<th>{{#str}}firstname{{/str}} {{#str}}lastname{{/str}}</th>
		<th>{{#str}}email{{/str}}</th>
		<th>{{#str}}timecreated, local_apsolu{{/str}}</th>
	</tr>
</thead>
<tbody>
{{#posts}}
	<tr>
		<td><a href="{{wwwroot}}/user/profile.php?id={{userid}}">{{firstname}} {{lastname}}</a></td>
		<td>{{email}}</td>
		<td>{{timecreated}}</td>
	</tr>
{{/posts}}
</tbody>
</table>

{{/count_posts}}

<p><a class="btn btn-primary" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=notifications&action=history">{{#str}}return, local_apsolu{{/str}}</a></p>
