{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/payment_notifications_history

    Template Moodle pour afficher l'historique des relances de paiements.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot
    * count_dunnings
    * dunnings

    Example context (json):
    {
        "wwwroot": "",
        "count_dunnings": 0,
        "dunnings": []
    }
}}
<h1>{{#str}}dunning, local_apsolu{{/str}}</h1>

<ul class="nav nav-tabs mb-3">
	<li class="nav-item"><a class="nav-link" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=notifications&action=compose">{{#str}}compose, local_apsolu{{/str}}</a></li>
	<li class="nav-item"><a class="nav-link active" href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=notifications&action=history">{{#str}}history, local_apsolu{{/str}}</a></li>
</ul>

{{^count_dunnings}}
<p class="alert alert-info">{{#str}}nohistory, local_apsolu{{/str}}</p>
{{/count_dunnings}}

{{#count_dunnings}}
<table class="table table-striped">
<thead>
	<tr>
		<th>{{#str}}timecreated, local_apsolu{{/str}}</th>
		<th>{{#str}}author, local_apsolu{{/str}}</th>
		<th>{{#str}}subject, local_apsolu{{/str}}</th>
		<th>{{#str}}message, local_apsolu{{/str}}</th>
		<th>{{#str}}cards, local_apsolu{{/str}}</th>
		<th>{{#str}}countposts, local_apsolu{{/str}}</th>
		<th>{{#str}}state, local_apsolu{{/str}}</th>
	</tr>
</thead>
<tbody>

{{#dunnings}}
	<tr>
		<td>{{timecreated}}</td>
		<td>{{firstname}} {{lastname}}</td>
		<td>{{subject}}</td>
		<td><details><summary>{{#str}}show{{/str}}</summary><div class="well">{{{message}}}</div></details></td>
		<td>{{#count_cards}}<ul>{{#cards}}<li>{{fullname}}</li>{{/cards}}</ul>{{/count_cards}}</td>
		<td>{{^count_posts}}0{{/count_posts}}{{#count_posts}}<a href="{{wwwroot}}/local/apsolu/payment/admin.php?tab=notifications&action=posts&dunningid={{id}}">{{count_posts}}</a>{{/count_posts}}</td>
		<td class="{{status_style}}">{{status}}</td>
	</tr>
{{/dunnings}}
</tbody>
</table>
{{/count_dunnings}}
