{{#user_selector}}
<form method="post" action="{{action}}">
    <div>
        <label for="userid">{{#str}}users,moodle{{/str}}</label>
        {{{user_selector}}}
    </div>

    <p>
        <input class="btn btn-default" type="submit" value="{{#str}}select_user,local_apsolu_payment{{/str}}" />
    </p>
</form>
{{/user_selector}}
