{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/

    Template Moodle pour afficher

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    *

    Example context (json):
    {
        "": ""
    }
}}
<h1>{{# str }} statistics_keynumbers, local_apsolu {{/ str }}</h1>
<div class="row mb-4 mp">
  <div class="col-md-6">
    <div class="row">
      {{#countslotsmainlist}}
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-end">
            <div class="float-left"><i class="fa fa-tags fa-3x text-secondary"></i></div>
            <h2 class="card-title">{{{counter}}}</h2>
            <p class="card-text">
              {{title}}
              <a target="_blank" href="{{{report}}}" title="{{# str }} statistics_see_details, local_apsolu {{/ str }}"><i class="fa fa-chevron-circle-right"></i></a>
            </p>
          </div>
        </div>
      </div>
      {{/countslotsmainlist}}
    </div>
  </div>
</div>


<div class="row mb-4">
  <div class="col-md-6">
    {{#groupslots}}
    <div class="card chart-card">
      <div class="card-header">
        <h5 class="card-title">{{title}}</h5>
      </div>
      <div class="card-body">
        {{{chart}}}
      </div>
    </div>
    {{/groupslots}}
  </div>
  <div class="col-md-6">
    {{#countslotsmainlist}}
    <div class="card chart-card">
      <div class="card-header">
        <h5 class="card-title">{{title}}</h5>
      </div>
      <div class="card-body">
        {{{chart}}}
      </div>
    </div>
    {{/countslotsmainlist}}
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    {{#activityslots}}
    <div class="card chart-card">
      <div class="card-header">
        <h5 class="card-title">{{title}}</h5>
      </div>
      <div class="card-body">
        {{{chart}}}
      </div>
    </div>
    {{/activityslots}}
  </div>
</div>
