{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apsolu/statistics_chart_filters_criteria

    Template Moodle.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * criteriatype
    * btnid
    * options
        * active
        * id
        * classname
        * name

    Example context (json):
    {
        "criteriatype": "",
        "btnid": "",
        "options": []
    }
}}
<div id="chart-criteria-{{criteriatype}}-{{btnid}}" class="mb-2 text-end">
<label>{{label}}</label>
{{#options}}
  <button class="btn btn-secondary
  {{#active}}
  active
  {{/active}}
  btn-sm" id="btn-{{criteriatype}}-{{btnid}}-{{id}}" value="{{id}}" data-type="{{classname}}" data-criteria="{{criteriatype}}">{{name}}</button>
{{/options}}
<button class="btn btn-danger btn-sm" id="btn-{{criteriatype}}-{{btnid}}-reset" value="resetCriterias" data-type="{{classname}}" data-criteria="{{criteriatype}}" title="{{# str }} statistics_clean, local_apsolu {{/ str }}"><i class="fa fa-times-circle"></i></button>
</div>
