<i id="spinner" style="visibility:hidden;" class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
<div class="report-enrolList-datatable" style="padding-top:20px;">
  <table class="display report-enrolList-table" width="100%"></table>
</div>
